.wrapper {
    margin: 24px;
}

.albumContainer {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.albumHeader {
    display: flex;
    justify-content: space-between;
}

.expandCollapse {
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.loadState {
    width: 100vw;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circularLoader {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-gray);  /*For loader border*/
    border-top: 10px solid var(--color-primary); /*For loader*/
    border-bottom: 10px solid var(--color-primary); /*For loader*/
    border-radius: 50%;
    animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}