@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
